{% extends 'base.html.twig' %}

{% block title %}Hello AddController!{% endblock %}

{% block body %}

<main class="container">
    <div class="col-12">
    <h1> Ajouter une annonce </h1>
    </div>
</div>

{% endblock %}
