<nav class="navbar navbar-light bg-light justify-content-center ">
    <div class="d-flex flex-column align-items-center ">
        <a class="navbar-brand" href="{{ path('app_main') }}">LeBonCoin du pauvre </a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light " type="submit">Search</button>
        </form>
    </div>
    <div>
        <ul>
            {% if app.user %}
                <li>
                    <a href="#"> Mon compte </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}" > Me deconnecter  </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_register') }}" > M'inscrire  </a>
                </li>
                <li>
                    <a href="{{ path('app_login') }}" > Me connecter  </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>